/** CSS STYLE **/
@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  src: url('../../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  src: url('../../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: normal;
  font-family: "Neucha";
  src: url('../../assets/fonts/Neucha-Regular.ttf');
}

:root {
  --white: #fff;
  --semi-transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --semi-transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;

  color: var(--dark);
  font: 16px/1.6 "Open Sans", sans-serif;
}

.background-light {
  background: var(--light);
}

.background-primary-dark {
  background: var(--primary-dark);
}

.background-image {
  position: relative;
}

.background-image::before {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: url('../../assets/images/background.png');
}

h1,
h2,
h3 {
  margin: 0;

  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1110px;
  margin: auto;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.pos-relative {
  position: relative;
}

.header-title {
  flex-basis: 1110px;
  margin-bottom: 185px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.flex-column {
  flex: 0 1 540px;
}

.flex-card {
  flex: 0 1 350px;
  margin: 10px 0;
}

.flex-card-link {
  flex: 0 1 302px;
  margin: 10px 0;
  padding: 24px;

  color: var(--dark);
  text-decoration: none;
}

.color-primary {
  color: var(--primary);
}

.color-light {
  color: var(--light);
}

.btn {
  display: inline-block;
  margin-top: 24px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background: var(--primary);
}

.align-center {
  text-align: center;
}

.main-title {
  flex-basis: 1110px;
}

.video {
  margin-bottom: -195px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-15 {
  margin-bottom: 15px;
}

.padding-top-bottom-100 {
  padding: 100px 0;
}

.pt-200 {
  padding-top: 200px;
}

.font-size-52 {
  font-size: 52px;
}

.card-number {
  margin-bottom: 40px;

  font: 64px/1 Neucha, cursive;
}

.flex-card-link:hover,
.flex-card-link:hover h3 {
  color: var(--white);

  background: var(--primary);
}
