/** CSS STYLE **/
@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: normal;
  font-family: "Neucha";
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

:root {
  --white: #fff;
  --semi-transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --semi-transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;

  color: var(--dark);
  font: 16px/1.6 "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;

  color: var(--primary);
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;

  white-space: nowrap;
}

.background-image {
  position: relative;
}

.background-image::before {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: url('../assets/images/background.png');
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1110px;
  margin: auto;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.flex-column {
  flex: 1;
}

.nav-btn {
  display: inline-block;
  margin-top: 24px;
  padding: 12px 24px;

  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.video {
  margin-bottom: -195px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.flex-card {
  flex: 0 1 350px;
  margin: 10px 0;
}

.flex-card-link {
  flex: 0 1 302px;
  margin: 10px 0;
  padding: 24px;

  text-decoration: none;
}

.card-number {
  margin-bottom: 40px;

  font: 64px/1 Neucha, cursive;
}

.flex-card-link:hover,
.flex-card-link:hover h3 {
  color: var(--white);

  background: var(--primary);
}

.section-image {
  vertical-align: middle;

  filter: drop-shadow(0 0 32px rgba(0, 0, 0, 0.15));
}

.header-description-background {
  margin: 100px 0 20px;
  padding: 0;
}

.header-description {
  margin: 5px 10px;

  font: bold 14px/120% "Open Sans", sans-serif;
  text-transform: uppercase;
}

.input-email {
  flex: 1;
  height: 20px;
  padding: 15px;
  border: none;
}

.btn-send-email {
  display: inline-block;
  width: 70px;
  height: 50px;
  padding: 0;
  border: none;
}

.btn-send-email::before {
  content: url('../assets/images/send.svg');
}

.footer-container {
  width: 100%;
  padding: 40px 55px;
}

.footer-contact {
  margin-top: 60px;

  font-size: 14px;

  text-align: center;
}

.pos-relative {
  position: relative;
}

.width-100percent {
  width: 100%;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.text-align-center {
  text-align: center;
}

.padding-top-bottom-100 {
  padding: 100px 0;
}

.pt-195 {
  padding-top: 195px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-4 {
  margin-top: 4px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-9 {
  margin-bottom: 9px;
}

.font-neucha-34 {
  font: 34px/1.2 Neucha, cursive;
}

.font-neucha-24 {
  font: 24px/1 Neucha, cursive;
}

.font-size-52 {
  font-size: 52px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-12 {
  font-size: 12px;
}

.color-primary {
  color: var(--primary);
}

.color-dark {
  color: var(--dark);
}

.color-light {
  color: var(--light);
}

.color-semi-transparent-dark {
  color: var(--semi-transparent-dark);
}

.color-semi-transparent-white {
  color: var(--semi-transparent-white);
}

.color-white {
  color: var(--white);
}

.color-brown {
  color: var(--brown);
}

.color-blue {
  color: var(--blue);
}

.background-light {
  background: var(--light);
}

.background-primary-dark {
  background: var(--primary-dark);
}

.background-primary {
  background: var(--primary);
}

.background-brown {
  background: var(--brown);
}

.background-white {
  background: var(--white);
}
